<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button class="btn btn-danger ml-auto" (click)=" logout()">Logout</button>
      <button class="btn btn-danger ms-2" (click)=" toCart()">cart</button>
    </div>
  </div>
</nav>

<div class="container mt-4">
   <h2 class="text-center mb-4">Food Items</h2>
  <div class="row">
    @for (food of foods; track $index) {
      <div class="col-md-4 mb-4">   <!-- 12/4 = 3 per row -->
        <div class="card h-100">
          <img src="{{food.image}}" class="card-img-top" alt="{{food.foodName}}" />
          <div class="card-body">
            <h5 class="card-title">{{food.foodName}}</h5>
            <p class="card-text">{{food.description}}</p>
            <p class="card-text">{{food.price}}</p>
            <a  class="btn btn-primary" (click)="orderNow()">Order Now</a>
          </div>
        </div>
      </div>
    }
  </div>
</div>
